.scheduleContainer {
  height: 200ex;
}

.appointmentContainer {
  height: 100%;
}

.appointmentContainer .deleteButton {
  display: none;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1000; /* Necessary so that the button "pops out" from short timeslots */
  font-size: 10px;
  padding: 0;
  width: 16px;
  height: 16px;
}

.appointmentContainer:hover .deleteButton {
  display: inline;
}