.OTPverification_modal_body{
    text-align: center;
}
.OTPverification_modal_body_input{
    width: 3rem !important;
    height: 3rem !important;
    font-size: 2rem !important;
}
.OTPverification_modal_footer_align{
    margin-right: auto !important;
}
